# --- Windows ---
Thumbs.db
desktop.ini

# --- VS Code ---
.vscode/

# --- Python / Jupyter ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.virtualenvs/
venv/
ENV/

# --- Google Colab (Ç‡Çµíºê⁄DLÇµÇƒï€ë∂ÇµÇΩèÍçá) ---
.config/
sample_data/

# --- tex ---
*~
*.swp
*.tmp
*.log
*.aux
*.synctex.gz
*.out
*.toc
*.blg
*.fls
*.gz

